<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>PreferenceSpecifiers</key>
    <array>
        <!-- Group -->
        <dict>
            <key>Type</key>
            <string>PSGroupSpecifier</string>
            <key>Title</key>
            <string>General Settings</string>
        </dict>
        <!-- Toggle Switch -->
        <dict>
            <key>Type</key>
            <string>PSToggleSwitchSpecifier</string>
            <key>Title</key>
            <string>Deselect App</string>
            <key>Key</key>
            <string>deselect_app</string>
            <key>DefaultValue</key>
            <false/>
        </dict>
        <dict>
            <key>Type</key>
            <string>PSTextViewSpecifier</string>
            <key>Title</key>
            <string>Footer</string>
            <key>Key</key>
            <string>footer_text</string>
            <key>DefaultValue</key>
            <string>Turn this setting on will go to Apps menu.</string>
        </dict>
    </array>
    <key>StringsTable</key>
    <string>Root</string>
</dict>
</plist>
